html,
body {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: local;
	background-color: black;
}
.hide-mouse {
	cursor: none;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #04aa6d;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #04aa6d;
	cursor: pointer;
}
