html,
body {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: local;
	background-color: black;
}
.hide-mouse {
	cursor: none;
}

.customSlider {
	-webkit-appearance: none;
	appearance: none;
	height: 10px;
	width: 200px;
	background: #333;
	border-radius: 5px;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.customSlider:hover {
	opacity: 1;
}

.customSlider::-webkit-slider-runnable-track {
	background: linear-gradient(90deg, #ffcc00, #ffaa00);
	border-radius: 5px;
	height: 10px;
}

.customSlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: #ffcc00;
	border-radius: 50%;
	border: 2px solid #000;
	cursor: pointer;
	margin-top: -5px;
}

.customSlider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #ffcc00;
	cursor: pointer;
}

.customSlider::-webkit-slider-thumb:hover {
	background: #fff000;
}
