html,
body {
	height: 100%;
}

/* default background colour */
body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: local;
	background-color: black;
}

/* hides mouse during gameplay */
.hide-mouse {
	cursor: none;
}
